body{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('/imgs/pawel-czerwinski-fPN1w7bIuNU-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
}
nav{
    display: flex;
    align-items: center;
    justify-content: end;
}
header{
    width: 100%;
    height: .5rem;
    margin-top: 1rem;
}

#control-volumen{
    -webkit-appearance: none;
    height: 3px;
    width: 10%;
    background-color: #ddd;
    border-radius: 5px;
    outline: none;
    border: none;
    margin: 0 1rem;
}

#imagen-volumen{
    height: 2rem;
    width: 2rem;

}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 13px;
    height: 13px;
    background: var(--blue-light-opacity-1);
    border-radius: 100%;
    border: none;
}

h1{
    color: #D9D9D9;
    margin-top: 2rem;
    letter-spacing: 5px;
    font-size: 4rem;
    text-align: center;

}

#container1{
    margin-top: 8rem;
}
.container{
    display: flex;
    margin-top: 5rem;
    margin-bottom: 1rem;
}
.key{
    
    padding: 1rem;
    border-radius: .2rem;
    border: 1px solid;
    background: var(--blue-light-opacity-2);
    color: var(--blue-light-opacity-1);
    width: 4rem;
    height: 3.5rem;
    font-size: larger;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin: .5rem;
    animation: down-up 1s alternate infinite;
}

.bounce{
   animation: bounce 1s alternate infinite;
}

.key::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background: linear-gradient(#00ccff,#d500f9);
    animation: rotate 4s linear infinite;
    z-index: -10;
}

.key::after{
    content: "";
    position: absolute;
    background: var(--dark);    
    inset: 1.7px;
    z-index: -10;
}

.entrar{
    margin-top: 4rem;
    width: 20rem;
    animation: pulse .4s linear infinite;

}
.entrar::after{
   background: var(--dark-light);
}

@keyframes down-up{
    from{
        transform: translateY(-30px);
    }to{
        transform: translateY(30px);
    }
}
@keyframes bounce{
    from{
        transform: translateY(-20px);
    }to{
        transform: translateY(20px);
    }
}


@keyframes pulse{
    
    0%{
        transform: scale(1.07);
    }
    50%{
        transform: scale(1.0);
    }
    80%{
        transform:scale(.8);
    }
    
}
@keyframes color-fondo{
    from{
        background: (--black)
    }to{
        background: white;
    }
}

@keyframes rotate {
    from{
        transform: rotate(0deg)
    }to{
        transform: rotate(360deg);
    }
}
