* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --purple-light: #870DD9;
    --purple-dark: #4A1B8C;
    --purple-soft: #5F4A8C;
    --dark: #0D0D0D;
    --dark-light: #292840;
    --blue-light-opacity-1: rgb(29, 221, 242);
    --blue-light-opacity-2: rgb(29, 221, 242, 0.1);
    --blue-dark: #3B9DCC;
}